

<div id="profile">
			<div class="user photo pull-left">
				<% if @user.avatar? %>
					<%= image_tag @user.avatar %>
				<% else %>
					<%= image_tag "/images/missing.jpeg", :html => { :id => "noUserProfile" } %>
				<% end %>
			</div>
			<div class="content">
				<h3><%= @user.name %></h3>
				<p class> Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
          		ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
          		sit amet risus. Etiam porta sem malesuada magna   mollis euismod. Donec sed
      		    odio dui.</p>
			</div>
			<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-inverse btn-large" %>
		</div>

