<div id="user_showbox">
	<div class="container">
	<div class="span9">
		<div class="user_photo pull-left">
			<% if @user.avatar? %>
				<%= image_tag @user.avatar %>
			<% else %>
				<%= image_tag "/images/missing.jpeg", :html => { :id => "noUserProfile" } %>
			<% end %>
		</div>
		<div class="content">
			<% if current_user == @user %>
				<h2>This is you.</h2>
			<% else %>
				<h3><%= @user.first_name %></h3>
			<% end %>
			
	  		

  		    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-inverse btn-large" %>
		</div>
	</div>
	</div>
</div>