<div id="aboutbox">
	<div class="row-fluid">
		<div class="span3">
			<h2>General</h2>
		</div>
		<div class="span4">
			<h2>Loaning + Borrowing</h2>
		</div>
		<div class="span2">
			<h2>Team</h2>
		</div>
		<div class="span3">
			<h2>Jobs</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8">
			<h4>About us</h4>
			<p>
				We grant aspiring musicians a quick, seamless way to play instruments loaned from their friends, neigbors, or local shops by providing a safe, secure way to share music gear with those around them.

				We grant aspiring musicians a quick, seamless way to play instruments loaned from their friends, neigbors, or local shops by providing a safe, secure way to share music gear with those around them.
			</p>
			<h4>FAQ</h4>
			<p>
				How much cat I get for renting out my instrument?

				We grant aspiring musicians a quick, seamless way to play instruments loaned from their friends, neigbors, or local shops by providing a safe, secure way to share music gear with those around them.

				Is it safe? What about damage?

				We grant aspiring musicians a quick, seamless way to play instruments loaned from their friends, neigbors, or local shops by providing a safe, secure way to share music gear with those around them.

			</p>
		</div>
		<div class="span3">
			<h4>Contact</h4>
			<h5>E-mail us:<h5>
			<h6>hello@andante.cc</h6>
			<h5>Or tweet:<h5>
			<h6>@rentandante</h6>
			<h5>For emergencies:<h5>
			<h6>415-123-4567</h6>
			<h5>Partnership Inquiries:<h5>
			<h6>biz@andante.cc</h6>
		</div>
	</div>
	

	 <%= link_to "Let's get started", new_user_registration_path, class: "btn btn-primary" %> 
</div>


<!--
<h1><i>Music</i> is a precious <i>gift</i> to humanity.</h1>
	<h3>At Andante, this is our fundamental focus.</h3>
	<div class="hero-unit">
		This is where a sweet picture goes
	</div>
	<p>
		We see a great separation between the number of musical instruments in the public domain (many of which sit in broom closets or collecting dust in school storage basements) and the individuals who'd eagerly jump at the opportunity to access them.
		<ul>
			<li>Students inspired to try learning the guitar</li>
			<li>Families daunted by the commitment of paying full-price for an instrument that may only be used for 5 months</li>
			<li>Local bands needing an extra amp for the weekend</li>
		</ul>
	</p> 

	
	<h1><i>What</i> is <i>'Andante'</i>?</h1>
	<p>
		 Our namesake is musical term of Italian origin:

		"...to play or be playing in a light, flowing manner; steady and with ongoing persistence."

		We feel man's pursuit of the arts is worth undertaking. That's why we strive to make sure the necessary tools to enjoy and play music are in more people's hands. 

		By creating a web and mobile-based sharing platform, we believe Andante can help solve this dilemma.
	</p>
	-->


