<h1><i>Music</i> is a precious <i>gift</i> to humanity.</h1>
<h3>At Andante, this is our fundamental focus.</h3>
<div class="hero-unit">
	This is where a sweet picture goes
</div>
<p>
	We see a great separation between the number of musical instruments in the public domain (many of which sit in broom closets or collecting dust in school storage basements) and the individuals who'd eagerly jump at the opportunity to access them.
	<ul>
		<li>Students inspired to try learning the guitar</li>
		<li>Families daunted by the commitment of paying full-price for an instrument that may only be used for 5 months</li>
		<li>Local bands needing an extra amp for the weekend</li>
	</ul>
</p> 

<h1><i>What</i> is <i>'Andante'</i>?</h1>
<p>
	 Our namesake is musical term of Italian origin:

	"...to play or be playing in a light, flowing manner; steady and with ongoing persistence."

	We feel man's pursuit of the arts is worth undertaking. That's why we strive to make sure the necessary tools to enjoy and play music are in more people's hands. 

	By creating a web and mobile-based sharing platform, we believe Andante can help solve this dilemma.
</p>

 <%= link_to 'Try it Out', new_user_registration_path, class: "btn btn-primary" %> 


