<h1>This is the placeholder for the overall info page</h1>
<div class="hero-unit">
	This is where the instruction diagram goes.
</div>
<p>
	Our service is simple – search for an instrument you want to play, and we do the rest. 

	In partnership with local couriers, we deliver instruments to your home or office as soon as you make your selection. 

	We are also working to provide access to free video lessons, affordable local tutors, and other resources to help you along the way. Stay tuned for more goodies!
</p>