/*change font here
/*$baseFontFamily: Oxygen; 
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';
@import 'bootstrap-responsive';

/* GLOBAL STYLES */

body {
      margin-top: 100px;
      padding-bottom: 40px;
      color: #5a5a5a;
    }


/* CUSTOMIZE THE NAVBAR */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
   
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 20px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}


.footer {
	
	margin-top: 200px;
	color: $grayLight;
	a {
		color: $gray;	
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box .name {
  text-align: left;
  font-size: 20px;
  margin-top: 10px;
}

.box img {
	display: block;
	width: 100%;
  margin-top: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-size: 14px;
}

 /* Carousel base class */

.carousel {
  	margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
}

.carousel .container {
	position: relative;
  margin-left: 50px;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
 	height: 500px;
  width: 100%;
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 700px;
	padding: 0 20px;
	margin-top: 170px;
  margin-bottom: 10px;
}

.carousel-caption h1 {
  margin: 5px;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .lead {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn {
  margin-top: 0px;
}

 /* RESPONSIVE CSS */

@media (max-width: 979px) {

	

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
	
}

@media (max-width: 767px) {

     
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
}

 /* For Footer */

.links li {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

.thumbnails {
 margin-top: 50px;
 text-align: center;
}

.thumbnails p {
 text-align: center;
 margin-left: 50px;
 width: 200px;
}

.thumbnail, .thumbnail:hover { 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none; 
  border: none; 
}

.homebutton {
  margin-left: 200px;
  margin-right: 200px;
}

.content{
  margin-left: 100px;
  margin-bottom: 20px;
}

.team{
  margin-top: 120px;
}

.team .photo {
  margin-top: 10px;
}

.user .photo{
  height: 200px;
}

.well h4 {
  margin-bottom: 20px;
}

#instruments {
  margin-top: 50px;
}