 <div class="footer">
	<small>
		<ul class="links">
			<li>&copy;2013 Andante</li>
			<li><%= link_to "About Us", about_path %></li>
			<li><%= link_to "Team", team_path %></li>
		</ul>
		<%= link_to "Beta:Full Site Coming Soon!", "http://andante.cc" %> Created by the Andante Team - San Francisco, CA
	</small>
</div>